.register-container[b-ojt73cahh1] {
    width: 100%;
    padding-bottom: 420px;
}

.register-container .form-container[b-ojt73cahh1] {
    display: table;
    width: 800px;
    height: 50vh;
    margin: 0 auto;
    margin-top: 100px;
}

.register-container form[b-ojt73cahh1] {
    width: 500px;
    display: table-cell;
    background-color: #858AE3;
    padding: 20px 40px;
    color: #858AE3;
    margin-right: 200px;
}

h3[b-ojt73cahh1] {
    font-family: Century Gothic;
    font-size: 60px;
    line-height: 22px;
    font-weight: 200;
    color: #F8F7FF;
    padding: 80px 0px 20px 0px;
    margin: 0
}

.register-cointainer form .form-control[b-ojt73cahh1] {
    padding-right: 310px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.links[b-ojt73cahh1] {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #F8F7FF;
    opacity: 0.8;
    text-decoration: none
}
