@page "/"
@layout FormLayout
@inject NavigationManager NavManager


<div class="title">FluffyMoon!</div>
<div class="buttons">
    <button id="login" type="button" @onclick="GoLogin">Login</button>
    <button id="register" type="button" @onclick="GoRegister">Register</button>
</div>


@code{
    protected async void GoLogin()
    {
        NavManager.NavigateTo("/login");
    }

    protected async void GoRegister()
    {
        NavManager.NavigateTo("/register");
    }
}