﻿

.profile-photo {
    background: #99b3ff;
    padding-bottom: 334px;
    display: table-cell;
}


.title {
    margin-left: 10px;
    text-align: center;
}

.profile-photo .image-holder {
    display: table-cell;
    background: url(https://images.pexels.com/photos/5257587/pexels-photo-5257587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    width: 500px;
    height: 1000px;
    border-top-left-radius: 6px;
}

.profile-photo .form-container {
    display: table;
    width: 1000px;
    height: 100%;
    margin-left: 25%;
    text-align:center;
    margin-top: 25px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
}

.profile-photo form {
    margin-top: 50px;
    display: table-cell;
    background-color: #54988E;
    width: 500px;
    margin-right: 200px;
    padding: 60px 60px;
    color: #505e6c;
    border-top-right-radius: 6px;
}

h3 a {
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

h3 a:hover {
        background-color: #4CAF50;
        color: white;
    }

@media (max-width:991px) {
    .profile-photo form {
        padding: 60px;
    }
}

.profile-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.profile-photo form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.profile-photo form .form-check {
    font-size: 13px;
    line-height: 20px
}

.profile-photo form .btn-primary {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .profile-photo form .btn-primary:hover,
    .profile-photo form .btn-primary:active {
        background: blue
    }

    .profile-photo form .btn-primary:active {
        transform: translateY(1px)
    }

.profile-photo form .already {
    margin-top: 21px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}


h3 {
    margin-top: 25px;
    text-align: center;
    color: black;
    font-style: italic;
}
