﻿.page {
    display: flex;
    position: relative;
    flex-direction: column;
}

.main {
    flex: 1;
    background-image: linear-gradient(45deg, #22181C, #312F2F, #84DCCF);
    background-position: center;
    background-size: cover;
}
