﻿.page {
    display: flex;
    position: relative;
    flex-direction: column;
}

.main {
    flex: 1;
    height: 120vh;
    background-color: #B8B8FF;
    background-position: center;
    background-size: cover;
}
