@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FluffymonPWA</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href='@string.Format("profile/{0}",localId)' Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Profile
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="post">
                <span class="oi oi-plus" aria-hidden="true"></span> Create post
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="posts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Missing pets
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="maps">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Live map
            </NavLink>
        </li>
    </ul>
</div>

@code {
    public string localId { get; set; }
    private bool collapseNavMenu = true;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        localId = await localStorage.GetItemAsStringAsync("id");
    }

}
