.body[b-mk2n0tthi3] {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.profile-photo[b-mk2n0tthi3] {
    background: #5f8dd2;
    height: 100vh;
}


.title[b-mk2n0tthi3] {
    text-align: center;
}

.profile-photo .image-holder[b-mk2n0tthi3] {
    display: table-cell;
    background: url(https://images.pexels.com/photos/5257587/pexels-photo-5257587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
}

.form-container[b-mk2n0tthi3] {
    margin-left: auto;
    margin-right: 0;
}

.text-center[b-mk2n0tthi3] {
    padding: 70px;
    color: #bdbdbd;
}

.profile-photo .form-container[b-mk2n0tthi3] {
    display: table;
    width: 70vw;
    height: 100vh;
    text-align: center;
}

.profile-photo form[b-mk2n0tthi3] {
    display: table-cell;
    background-color: rgb(45, 45, 45);
    width: 55%;
    padding: 60px 60px;
    border-top-right-radius: 6px;
}

h3 a[b-mk2n0tthi3] {
    color: rgb(220, 220, 220);
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

    h3 a:hover[b-mk2n0tthi3] {
        background-color: #4CAF50;
        color: white;
    }

@media (max-width:991px) {
    .profile-photo form[b-mk2n0tthi3] {
        padding: 60px;
    }
}

.profile-photo form h2[b-mk2n0tthi3] {
    font-size: 24px;
    line-height: 1.5;
}

.profile-photo form .form-control[b-mk2n0tthi3] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.profile-photo form .form-check[b-mk2n0tthi3] {
    font-size: 13px;
    line-height: 20px
}

.profile-photo form .btn-primary[b-mk2n0tthi3] {
    background: blue;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

.profile-photo form .btn-primary:hover[b-mk2n0tthi3],
.profile-photo form .btn-primary:active[b-mk2n0tthi3] {
    background: blue
}

.profile-photo form .btn-primary:active[b-mk2n0tthi3] {
    transform: translateY(1px)
}

.profile-photo form .already[b-mk2n0tthi3] {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}


h3[b-mk2n0tthi3] {
    margin-top: 25px;
    text-align: center;
    color: rgb(191, 191, 191);
}
